body,
h1,
h2,
h3,
h4,
a,
p,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}

body {
    margin: 0 auto;
    display: block;
    background: #f3f3f3;
}

.content {
    width: 944px;
    padding: 40px;
    margin: 0 auto;
    display: block;
}

header .content {
    background: #eea7a3;
    text-transform: uppercase;
}

.clear {
    clear: both;
}

.h-left {
    float: left;
    width: 200px;
    background: #fff;
    border-radius: 50%;
    padding: 20px;
    margin-top: -10px;
    box-shadow: 8px 15px 26px rgba(0, 0, 0, 0.2);
}

.h-right {
    float: right;
    width: 590px;
    margin-right: 46px;
    margin-top: 26px;
    position: relative;
}

.name {
    font-family: "Roboto-Bold";
    color: #fff;
    padding: 15px;
    text-align: center;
    border: 4px solid #fff;
    font-size: 68px;
}

img.ava {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}

.profession {
    font-family: "Roboto-Regular";
    width: 324px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 38px;
    background: #3f3f3f;
    top: -16px;
    position: relative;
    padding-bottom: 2px;
    padding-top: 2px;
}

.download {
    font-family: "Roboto-Light";
    border: 2px solid #fff;
    background: none;
    color: #fff;
    font-size: 18px;
  margin: 0 auto;
    display: block;
    cursor: pointer;
    outline: none;
}
.download:hover{
  background: rgba(255,255,255, 0.3); 
}
.s-left {
    float: left;
    width: 240px;
    background: url('../img/bg-left.jpg');
    font-family: "Roboto-Regular";
    padding: 36px;
    padding-bottom: 111px;
}

section .content {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    width: 1024px;
    background: #fff;
    padding-bottom: 0;
}

p.title {
    font-weight: 700;
    text-align: center;
    padding: 5px;
    font-size: 27px;
    text-transform: uppercase;
    border: 2px dashed #f1a8a2;
        color: #6b6b6b;
}
p.s-left-txt {
    padding: 0px 10px;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    margin-top: 18px;
    color: #6b6b6b;
}
.ul-contact {
        color: #6b6b6b;
}
.profile {
    margin-bottom: 19px;
}
.ul-contact {
    color: #6b6b6b;
    margin-top: 12px;
    font-size: 13.5px;
    padding-left: 10px;
    padding-right: 10px;
}
.ul-contact li:nth-child(1) {
    background: url('../img/phone.png')no-repeat 3px center;
    background-size: 19px;
    padding: 12px 0;
    padding-left: 40px;
}
.ul-contact li:nth-child(2) {
    background: url('../img/email.png')no-repeat left 12px;
    background-size: 25px;
    padding: 12px 0;
    padding-left: 40px;
}
.ul-contact li:nth-child(3) {
    background: url('../img/loc.png')no-repeat 2px center;
    background-size: 19px;
    padding: 12px 0;
    padding-left: 40px;
}
.scills-name {
    
}
.scills-line {
    height: 23px;
    width: 53%;
    background: #eea7a3;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    /* z-index: 333; */
}

.scills-1 {
    font-family: "Roboto-Regular";
    padding: 0 10px;
    text-align: center;
    font-size: 20px;
    color: #6b6b6b;
}
.scills-bg {
    background: #e0e0e0;
    height: 23px;
    z-index: 1;
    position: relative;
}
img.flag {
    position: absolute;
    left: -13px;
    bottom: -13px;
    z-index: -1;
}

.scills-1 {
    font-family: "Roboto-Regular";
    padding: 0 10px;
    text-align: center;
    font-size: 20px;
    color: #6b6b6b;
    padding-top: 15px;
        padding-bottom: 15px;
}

.scills-2 {
    font-family: "Roboto-Regular";
    padding: 0 10px;
    text-align: center;
    font-size: 20px;
    color: #6b6b6b;
    padding-top: 15px;
        padding-bottom: 15px;
}

.scills-3 {
    font-family: "Roboto-Regular";
    padding: 0 10px;
    text-align: center;
    font-size: 20px;
    color: #6b6b6b;
    padding-top: 15px;
        padding-bottom: 15px;
}

.scills-4 {
    font-family: "Roboto-Regular";
    padding: 0 10px;
    text-align: center;
    font-size: 20px;
    color: #6b6b6b;
    padding-top: 15px;
        padding-bottom: 15px;
}

.scills-5 {
    font-family: "Roboto-Regular";
    padding: 0 10px;
    text-align: center;
    font-size: 20px;
    color: #6b6b6b;
    padding-top: 15px;
        padding-bottom: 15px;
}
.scills-name {
    padding-bottom: 10px;
}
.scills-2 .scills-line{
 width: 85%;   
}
.scills-3 .scills-line {
    width: 72%;
}
.scills-4 .scills-line{
 width: 65%;   
}
.scills-5 .scills-line {
    width: 65%;
}

.contact {
    margin-bottom: 34px;
}

ul.ul-social li {
    position: relative;
    font-family: "Roboto-Regular";
}


ul.ul-social  {
  color: #6b6b6b;
}

a.soc-a:visited, a.soc-a:link{ color: #6b6b6b; text-decoration: none;}
a.soc-a:hover{text-decoration: underline; color: #f0a6a3;}
ul.ul-social li {
    position: relative;
    font-family: "Roboto-Regular";
    font-size: 14px;
    padding: 10px 0;
}
i.fa.fa-facebook-official {
    padding-right: 10px;
    position: absolute;
    font-size: 22px;
    top: 7px;
}
a.soc-a {
    padding-left: 31px;
}
i.fa.fa-globe {
    padding-right: 10px;
    position: absolute;
    font-size: 22px;
    top: 7px;
}
.scills {
    margin-bottom: 34px;
}
ul.ul-social {
    color: #6b6b6b;
    padding: 0px 10px;
    margin-top: 15px;
}

.s-right {
    float: right;
    background: #fff;
    width: 640px;
    padding: 36px;
}

h2.title-main-block {
    width: 325px;
    margin: 0 auto;
    font-family: "Roboto-Regular";
    /* width: 324px; */
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 29px;
    background: #3f3f3f;
    position: relative;
    padding: 11px 0px;
}
.work {
        font-family: "Roboto-Regular";
        color: #6b6b6b;
    padding: 20px 0;
}
i.fa.fa-caret-right {
    padding-right: 10px;
}
.left-work {
    float: left;
    width: 150px;
}
.right-work {
    float: right;
    width: 483px;
}
p.about-work {
    text-align: justify;
}
p.name-of-company {
    font-weight: 700;
}
p.prof {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 25px;
    font-size: 18px;
}
p.about-work {
    text-align: justify;
    line-height: 20px;
    font-size: 16px;
}
.title-main-block-education {
    width: 223px;
    margin: 0 auto;
    font-family: "Roboto-Regular";
    /* width: 324px; */
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 29px;
    background: #3f3f3f;
    position: relative;
    padding: 11px 0px;
    text-transform: uppercase;
}

.education {
          font-family: "Roboto-Regular";
        color: #6b6b6b;
    padding: 20px 0;  
}

.education-bl {
            font-family: "Roboto-Regular";
        color: #6b6b6b;
    padding: 20px 0;
}

.title-main-block-languages {
    width: 225px;
    margin: 0 auto;
    font-family: "Roboto-Regular";
    /* width: 324px; */
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 29px;
    background: #3f3f3f;
    position: relative;
    padding: 11px 0px;
    text-transform: uppercase;
}

.lan {
    float: left;
    width: 140px;
    /* height: 30px; */
    background: #f0a6a3;
    margin-right: 26px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    font-family: "Roboto-Regular";
    color: #fff;
}
.lan.lan-4 {
    margin-right: 0;
}
.languages-block {
    margin-top: 25px;
}
p.lev-p {
    width: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    height: 20px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: -1px;
}
.level p {
    display: inline-block;
    
}
p.name-language {
    padding-left: 4px;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 0px;
}

@media screen and (max-width: 1024px) {
.content {
    width: auto;
    padding: 20px;
    margin: 0 auto;
    display: block;
}
    p.s-left-txt {
    padding: 0px 10px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-top: 18px;
    color: #6b6b6b;
}
section .content {
    width: auto;

}
    .h-left {
    float: none;
    margin: 0 auto;
}
    .h-right {
    float: none;
    width: auto;
    position: relative;
    margin: 0 auto;
    margin-top: 26px;
}
.s-left {
    float: none;
    width: auto;
    background: url('../img/bg-left.jpg');
    font-family: "Roboto-Regular";
    padding:0px;
    width: auto;
    margin: 0 auto;
}
.s-right {
    float: none;
    background: #fff;
    width: 727px;
    padding: 20px;
    margin: 0 auto;
}
    .right-work {
    float: right;
    width: 554px;
}
    .lan {
    width: 161px;
   
}
    h1.name {
    width: 527px;
    margin: 0 auto;
}
    p.title {
    width: 325px;
    margin: 0 auto;
}
    .bg-sec-r {
    padding: 20px;
    width: 727px;
    margin: 0 auto;
}
}

@media screen and (max-width: 767px) {
  .bg-sec-r {
    padding: 20px;
    width: auto;
    margin: 0 auto;
}
    .s-right {
    width: auto;
}
    h1.name {
    width: auto;
    margin: 0 auto;
    font-size: 45px;
}
    .left-work {
    float: none;
    width: auto;
}
    .right-work {
    float: none;
    width: auto;
    margin-top: 10px;
}
    .lan {
    width: 248px;
    float: none;
    margin: 13px auto!important;
}
}

@media screen and (max-width: 479px) {
h2.profession {
    width: 230px;
    font-size: 25px;
}
    h1.name {
    width: auto;
    margin: 0 auto;
    font-size: 30px;
}
    p.title {
    width: 250px;
    margin: 0 auto;
}
    h2.title-main-block {
    width: 280px;
    font-size: 22px;
}
    h2.title-main-block-education {
    width: 280px;
    font-size: 22px;
}
    h2.title-main-block-languages {
    width: 280px;
    font-size: 22px;
}
    img.flag {
    display: none;
}
}
.inherit {
 color: inherit;
    text-decoration: none;
}
